# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# macOS
.DS_Store

# Example build artifacts
example/.dart_tool/
example/build/
example/android/.gradle/
example/android/app/build/
example/ios/Pods/
example/ios/.symlinks/
